<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mods.flir.flirapp">

    <uses-feature android:name="com.motorola.hardware.mods" android:required="false"/>

    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO" />
    <uses-permission android:name="com.motorola.mod.permission.RAW_PROTOCOL" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.motorola.mod.version"
            android:value="@integer/moto_mod_services_version" />

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
